/*BOILERPLATE STYLES*/
/*Importing Lato from Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

/*Font will be Lato for the entire website*/
body {
	font-family: Lato;
	background-color: #ecf0f1;
}

/*Jumbotron Styles*/
.jumbotron {
	background: #2980B9;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*FOOTER STYLES*/
footer {
    color: #FFF; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;
}

/*STYLES SPECIFIC TO THIS PAGE*/