/*Importing Lato from Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
	font-family: Lato;
}

.carousel-item img {
	height: 92vh;
	display: flex;
    opacity: 0.5;
 }

.carousel-caption {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #000;
	height: 90vh;
    position: absolute;
    top: 2em;
    opacity: 0;

    animation: fadeIn 1s 0.5s forwards;
}

@keyframes fadeIn {
    100% {
        top: -2em;
        opacity: 1;
    }
}

.carousel-caption .btn {
    padding: 1.2rem;
    font-size: 1.2rem;
}

.carousel-caption .btn a {
    color: #ecfff1;
    text-decoration: none;
}

/*Media query to redefine lead class font sizes*/
@media (max-width: 800px) {
    .display-3 {
        font-size: 2.25rem;
        font-weight: 300;
        line-height: 1.0;
    }
}